#title {
   background-color: #ff4c68;
   color: #fff;
}

body {
   font-family: "Montserrat";
   margin: 0;
}
h1 {
   font-family: "Montserrat", sans-serif;
   font-weight: 900;
   line-height: 1.5;
   font-size: 3.5rem;
}

h2 {
   font-family: "Montserrat", "sans-serif";
   font-weight: 700;
   line-height: 1.5;
   font-size: 3rem;
}

.container-fluid {
   padding: 3% 15%;
}

/* Title Image */

.main-img {
   width: 60%;
   transform: rotate(25deg);
}

/* Navigation Bar */

.navbar-brand {
   font-family: "Ubuntu";
   font-size: 2.5rem;
   font-weight: bold;
}

.navbar {
   padding: 0 0 4.5rem;
}

.nav-item {
   padding: 0 15px;
}

.nav-link {
   font-size: 1.2rem;
   font-weight: 300;
}

/* Download Buttons */
.download-button {
   margin: 5% 3% 5% 0;
}

/* App Info */

#features {
   padding: 80px;
}

.info-box {
   font-family: "Montserrat";
   text-align: center;
   padding: 0 5% 0;
}

.info-box-header {
   font-weight: 700;
   font-size: 1.5rem;
}

.info-box-text {
   color: #8f8f8f;
}

.info-icon {
   color: #ef8172;
   padding-bottom: 5%;
}

.info-icon:hover {
   color: #ff4c68;
}

/* Testimonials Section */

#testimonials {
   text-align: center;
   background-color: #ef8172;
   color: #fff;
}

.testimonial-image {
   width: 10%;
   border-radius: 100%;
   margin: 20px;
}

#press {
   background-color: #ef8172;
   text-align: center;
   padding-bottom: 3%;
}

.press-logo {
   width: 15%;
   margin: 20px 20px 50px;
}

.carousel-item {
   padding: 7% 15%;
}
